<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleFormulario.css">
    <title>Principal</title>
    
</head>
<body>
    
    <form action="/processForm" method="post">
        
        <h2>Pessoa</h2>

        <label for="name">Nome Completo:</label><br>
        <input type="text" id="name" name="name" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="phone">Celular:</label><br>
        <input type="tel" id="phone" name="phone" required><br>
        
        <label for="birthdate">Data de Nascimento:</label><br>
        <input type="date" id="birthdate" name="birthdate" required><br>

        <label for="genderNEW">Gênero:</label><br>
        <select id="genderNEW">
            <!-- Options will be added dynamically -->
        </select>
        
        <input type="text" id="gender" name="gender" readonly style="display: none;"><br>

        <label for="relationNEW">Estado Civil:</label><br>
        <select id="relationNEW">
            <!-- Options will be added dynamically -->
        </select>

        <input type="text" id="relation" name="relation" readonly style="display: none;"><br>

        <label for="bloodNEW">Tipo Sanguineo:</label><br>
        <select id="bloodNEW">
            <!-- Options will be added dynamically -->
        </select>

        <input type="text" id="blood" name="blood" readonly style="display: none;"><br>

        <h2>Local</h2>

        <label for="cepNEW">CEP:</label><br>
        <select id="cepNEW">
            <!-- Options will be added dynamically -->
        </select>

        <input type="text" id="cep" name="cep" readonly style="display: none;"><br>
        
        
        <label for="country">País:</label><br>
        <input type="text" id="country" name="country" readonly><br> 
        
        <label for="state">Estado:</label><br>
        <input type="text" id="state" name="state" readonly><br> 
        
        <label for="city">Cidade:</label><br> 
        <input type="text" id="city" name="city" readonly><br> 
        
        <label for="street">Rua:</label><br>
        <input type="text" id="street" name="street" readonly><br> 
        
        <label for="neighborhood">Bairro:</label><br>
        <input type="text" id="neighborhood" name="neighborhood" readonly><br> 
        
        <label for="lot_number">Número do Lote:</label><br>
        <input type="text" id="lot_number" name="lot_number" required><br>
        
        <label for="complement">Complemento:</label><br>
        <input type="text" id="complement" name="complement"><br>
        
        <input type="submit" value="Enviar">

    </form>

</body>

<script>

let ceps;
        let sangues;
        let civils;
        let generos;

        let selectedValue


        document.addEventListener("DOMContentLoaded", function() {
            fetch('/chamarCEP')
                .then(response => response.json())
                .then(responseData => {
                    ceps = responseData; // Atribua os dados da resposta à variável data
                    const selectElement = document.getElementById("cepNEW");
                    
                    ceps.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; // Use o índice como valor para identificar o objeto selecionado
                        option.text = objeto.cep; // Exibe o nome do objeto na lista
                        selectElement.appendChild(option);


                    });

                    

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

            fetch('/chamarSANGUE')
                .then(response => response.json())
                .then(responseData => {
                    sangues = responseData; // Atribua os dados da resposta à variável data
                    const selectElement = document.getElementById("bloodNEW");
                    
                    sangues.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; // Use o índice como valor para identificar o objeto selecionado
                        option.text = objeto.tipo_sangue; // Exibe o nome do objeto na lista
                        selectElement.appendChild(option);


                    });

                    

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

            fetch('/chamarCIVIL')
                .then(response => response.json())
                .then(responseData => {
                    civils = responseData; // Atribua os dados da resposta à variável data
                    const selectElement = document.getElementById("relationNEW");
                    
                    civils.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; // Use o índice como valor para identificar o objeto selecionado
                        option.text = objeto.civil; // Exibe o nome do objeto na lista
                        selectElement.appendChild(option);


                    });

                    

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });
            
            fetch('/chamarGENERO')
                .then(response => response.json())
                .then(responseData => {
                    generos = responseData; // Atribua os dados da resposta à variável data
                    const selectElement = document.getElementById("genderNEW");
                    
                    generos.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; // Use o índice como valor para identificar o objeto selecionado
                        option.text = objeto.genero; // Exibe o nome do objeto na lista
                        selectElement.appendChild(option);


                    });

                    

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

  

        });

        document.getElementById("cepNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("cepNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text; 


            document.getElementById("country").value = ceps[selectedValue].pais
            document.getElementById("state").value = ceps[selectedValue].estado;
            document.getElementById("city").value = ceps[selectedValue].cidade;
            document.getElementById("street").value = ceps[selectedValue].logradouro;
            document.getElementById("neighborhood").value = ceps[selectedValue].bairro;


        });

        document.getElementById("cepNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("cepNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text; // Pega o valor da opção selecionada


            document.getElementById("cep").value = parseInt(selectedValue) + 1



        });

        document.getElementById("bloodNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("bloodNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text; // Pega o valor da opção selecionada


            document.getElementById("blood").value = parseInt(selectedValue) + 1



        });

        document.getElementById("relationNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("relationNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text; // Pega o valor da opção selecionada


            document.getElementById("relation").value = parseInt(selectedValue) + 1



        });

        document.getElementById("genderNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("genderNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text; // Pega o valor da opção selecionada


            document.getElementById("gender").value = parseInt(selectedValue) + 1



        });

</script>

</html>
