<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    
</head>
<body>
    
    <form action="/processFormEdit" method="post">

        <h2>Pessoa</h2>

        <label for="name">Nome Completo:</label><br>
        <input type="text" id="name" name="name" required><br>

        <input type="text" id="nameNEW" name="nameNEW" readonly style="display: none;"><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="phone">Celular:</label><br>
        <input type="tel" id="phone" name="phone" required><br>
        
        <label for="birthdate">Data de Nascimento:</label><br>
        <input type="date" id="birthdate" name="birthdate" required><br>
        
        <label for="gender">Gênero Atual:</label><br>
        <input type="text" id="gender" name="gender" readonly><br>

        <label for="genderNEW">Gênero:</label><br>
        <select id="genderNEW">
            <!-- Options will be added dynamically -->
        </select>

        <input type="text" id="genderNUM" name="genderNUM" readonly style="display: none;"><br>

        <label for="relation" class="NEW">Estado Civil Atual:</label><br>
        <input type="text"  id="relation" name="relation" readonly><br>

        <label for="relationNEW">Estado Civil:</label><br>
        <select id="relationNEW">
            
        </select>

        <input type="text" id="relationNUM" name="relationNUM" readonly style="display: none;"><br>

        <label for="blood" class="NEW">Tipo Sanguineo Atual:</label><br>
        <input type="text"  id="blood" name="blood" readonly><br>

        <label for="bloodNEW">Tipo Sanguineo:</label><br>
        <select id="bloodNEW">
            
        </select>

        <input type="text" id="bloodNUM" name="bloodNUM" readonly style="display: none;"><br>

        <h2>Local</h2>

        <label for="cep" class="NEW">CEP Atual:</label><br>
        <input type="text"  id="cep" name="cep" readonly><br>

        <label for="cepNEW">CEP:</label><br>
        <select id="cepNEW">
            
        </select>

        <input type="text" id="cepNUM" name="cepNUM" readonly style="display: none;"><br>
        
        <label for="country">País:</label><br>
        <input type="text" id="country" name="country" readonly><br> 
        
        <label for="state">Estado:</label><br>
        <input type="text" id="state" name="state" readonly><br> 
        
        <label for="city">Cidade:</label><br> 
        <input type="text" id="city" name="city" readonly><br> 
        
        <label for="street">Rua:</label><br>
        <input type="text" id="street" name="street" readonly><br> 
        
        <label for="neighborhood">Bairro:</label><br>
        <input type="text" id="neighborhood" name="neighborhood" readonly><br> 
        
        <label for="lot_number">Número do Lote:</label><br>
        <input type="text" id="lot_number" name="lot_number" required><br>
        
        <label for="complement">Complemento:</label><br>
        <input type="text" id="complement" name="complement"><br>
        
        <input type="submit" value="Enviar">

        <input type="button" id="btnExcluir" value="Excluir">

    </form>

    <script>

        // BOTAO EXCLUIR

        document.getElementById("btnExcluir").addEventListener("click", () => {
            console.log("clicou")
            const idPessoa = document.getElementById("nameNEW").value;
            
            fetch(`/excluirPessoa?id=${idPessoa}`)

            window.location.href = '/';

        });

        // VARIAVEIS

        let ceps;
        let sangues;
        let civils;
        let generos;
        let selectedValue

        // QUANDO CARREGAR A PAGINA

        document.addEventListener("DOMContentLoaded", function() {
            fetch('/chamarCEP')
                .then(response => response.json())
                .then(responseData => {
                    ceps = responseData; // Atribua os dados da resposta à variável data
                    const selectElement = document.getElementById("cepNEW");
                    
                    ceps.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; // Use o índice como valor para identificar o objeto selecionado
                        option.text = objeto.cep; // Exibe o nome do objeto na lista
                        selectElement.appendChild(option);


                    });
     

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

            fetch('/chamarSANGUE')
                .then(response => response.json())
                .then(responseData => {
                    sangues = responseData;
                    const selectElement = document.getElementById("bloodNEW");
                    
                    sangues.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index;
                        option.text = objeto.tipo_sangue;
                        selectElement.appendChild(option);


                    });


                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

            fetch('/chamarCIVIL')
                .then(response => response.json())
                .then(responseData => {
                    civils = responseData;
                    const selectElement = document.getElementById("relationNEW");
                    
                    civils.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index; 
                        option.text = objeto.civil;
                        selectElement.appendChild(option);


                    });
   

                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });

            fetch('/chamarGENERO')
                .then(response => response.json())
                .then(responseData => {
                    generos = responseData;
                    const selectElement = document.getElementById("genderNEW");
                    
                    generos.forEach((objeto, index) => {
                        const option = document.createElement("option");
                        option.value = index;
                        option.text = objeto.genero;
                        selectElement.appendChild(option);


                    });


                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao obter os dados');
                });
            
            // OBTER VALORES POR PARAMETRO

            function obterParametro(url, parametro) {
                const parametros = new URLSearchParams(url.search);
                return parametros.get(parametro);
            }

            // Obter os valores dos parâmetros de consulta da URL
            const url = new URL(window.location.href);
            const idPessoa = obterParametro(url, 'id_pessoa');
            const name = obterParametro(url, 'nome');
            const email = obterParametro(url, 'email');
            const phone = obterParametro(url, 'celular');
            const birthdate = obterParametro(url, 'data_nascimento');
            const gender = obterParametro(url, 'genero');
            const blood = obterParametro(url, 'tipo_sanguineo');
            const relation = obterParametro(url, 'estado_civil');
            const cep = obterParametro(url, 'cep');
            const country = obterParametro(url, 'pais');
            const state = obterParametro(url, 'estado');
            const city = obterParametro(url, 'cidade');
            const street = obterParametro(url, 'logradouro');
            const neighborhood = obterParametro(url, 'bairro');
            const lot_number = obterParametro(url, 'numero');
            const complement = obterParametro(url, 'complemento');

            // Preencher os campos do formulário com os valores dos parâmetros de consulta
            document.getElementById("nameNEW").value = idPessoa;
            document.getElementById("name").value = name;
            document.getElementById("email").value = email;
            document.getElementById("phone").value = phone;
            document.getElementById("birthdate").value = birthdate;
            document.getElementById("gender").value = gender;
            document.getElementById("blood").value = blood;
            document.getElementById("relation").value = relation;
            document.getElementById("cep").value = cep;
            document.getElementById("country").value = country;
            document.getElementById("state").value = state;
            document.getElementById("city").value = city;
            document.getElementById("street").value = street;
            document.getElementById("neighborhood").value = neighborhood;
            document.getElementById("lot_number").value = lot_number;
            document.getElementById("complement").value = complement;


        });

        document.getElementById("cepNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("cepNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text;


            document.getElementById("country").value = ceps[selectedValue].pais
            document.getElementById("state").value = ceps[selectedValue].estado;
            document.getElementById("city").value = ceps[selectedValue].cidade;
            document.getElementById("street").value = ceps[selectedValue].logradouro;
            document.getElementById("neighborhood").value = ceps[selectedValue].bairro;


        });

        document.getElementById("cepNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("cepNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text;


            document.getElementById("cepNUM").value = parseInt(selectedValue) + 1


        });

        document.getElementById("bloodNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("bloodNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text;


            document.getElementById("bloodNUM").value = parseInt(selectedValue) + 1


        });

        document.getElementById("relationNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("relationNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text;


            document.getElementById("relationNUM").value = parseInt(selectedValue) + 1


        });

        document.getElementById("genderNEW").addEventListener("change", () => {
            const selectElement = document.getElementById("genderNEW");

            selectedValue = selectElement.value;
            const selectedText = selectElement.selectedOptions[0].text;


            document.getElementById("genderNUM").value = parseInt(selectedValue) + 1


        });

    </script>

</body>
</html>
