<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylePrincipal.css">
    <script src="scriptPrincipal.js"></script>
    <title>Tela Principal</title>

</head>

<body>

    <h1>Atributos de Pessoas</h1>

    <div id="personContainer"></div>

    <select id="objetoSelect">
        
    </select>

    <button id="editarBotao">Editar</button>
    

    <footer>
       
        <a class="create-button" href="/criar-pessoa">Criar Pessoa</a>

    </footer>

</body>
</html>
